<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>牛彩开奖公告</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="full-screen" content="yes" />
 	<meta name="x5-fullscreen" content="true" />
	<link rel="stylesheet" href="../static/css/app.css" />
	<script type="text/javascript" src="../static/js/zepto-1.2.0.min.js"></script>	
	<script type="text/javascript" src="../static/js/zepto.fx.js" ></script>
	<script type="text/javascript" src="../static/js/tab.js"></script>
	<script type="text/javascript" src="../static/js/main.js" ></script>
	<script type="text/javascript" src="../static/js/ggdetail.js" ></script>
</head>
<body class="bg-grey">
<h1 class="topTitle"><a href="index.html" class="iconfont icon-back back"></a><span class="cptitle">开奖公告</span></h1>

	<div style="margin-top: 4rem;">
		<div class="tabContainer mb-10">
			<section class="ticket ticket-detail pagemain">
				<div class="name ub ub-ac t-0"><h6 class="name ub-f1 t-0"><b class="cpqi">XX期开奖结果</b></h6><time class="cpdate">开奖日期</time>
				</div>
				<div class="ub ub-ac ballinfo">
					
				</div>
				<div class="ub ub-ac">
					<div class="t_info l-0 ub-f1 cpsail">本期销量：43,537,294</div>
				</div>
			</section>
		</div>
		<header class="header ub ub-ac tab bg-white bb-1">
			<a class="ub-f1 active"><span>本期详情</span></a>
			<a class="ub-f1"><span>最近30期</span></a>
			<div class="line"></div>
		</header>
		<div class="tabContainer recentqi">
			<div class="tab bg-white p-10 active" border='1'>
				<table class="ggtable">
					<thead>
						<tr><th>奖项</th><th>中奖注数</th><th>单注金额</th></tr>
					</thead>
					<tbody>
						<tr><td>直选</td><td>4047</td><td>1056</td></tr>
						<tr><td>组三</td><td>4047</td><td>1056</td></tr>
						<tr><td>组六</td><td>4047</td><td>1056</td></tr>
					</tbody>
				</table>
			</div>
			<div class="tab limit30">
				<a href="#" class="ticket ub ub-ac">
					<div class="ub-f1 mr-10">
						<h6 class="name"><time class="l-0">2017054期</time><time>2017-05-11(周四)</time></h6>
						<div class="ub ub-ac">
							<div class="ballBox"><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span></div>
							<div class="ub-f1"><span class="t_info">056期</span><span class="t_info">试机号:<b>124</b></span></div>
						</div>
					</div>
					<i class="iconfont icon-arrow"></i>
				</a>
				<a href="#" class="ticket ub ub-ac">
					<div class="ub-f1 mr-10">
						<h6 class="name"><time class="l-0">2017054期</time><time>2017-05-11(周四)</time></h6>
						<div class="ub ub-ac">
							<div class="ballBox"><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span></div>
							<div class="ub-f1"><span class="t_info">056期</span><span class="t_info">试机号:<b>124</b></span></div>
						</div>
					</div>
					<i class="iconfont icon-arrow"></i>
				</a>
				<a href="#" class="ticket ub ub-ac">
					<div class="ub-f1 mr-10">
						<h6 class="name"><time class="l-0">2017054期</time><time>2017-05-11(周四)</time></h6>
						<div class="ub ub-ac">
							<div class="ballBox"><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span></div>
							<div class="ub-f1"><span class="t_info">056期</span><span class="t_info">试机号:<b>124</b></span></div>
						</div>
					</div>
					<i class="iconfont icon-arrow"></i>
				</a>
				<a href="#" class="ticket ub ub-ac">
					<div class="ub-f1 mr-10">
						<h6 class="name"><time class="l-0">2017054期</time><time>2017-05-11(周四)</time></h6>
						<div class="ub ub-ac">
							<div class="ballBox"><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span></div>
							<div class="ub-f1"><span class="t_info">056期</span><span class="t_info">试机号:<b>124</b></span></div>
						</div>
					</div>
					<i class="iconfont icon-arrow"></i>
				</a>
				<a href="#" class="ticket ub ub-ac">
					<div class="ub-f1 mr-10">
						<h6 class="name"><time class="l-0">2017054期</time><time>2017-05-11(周四)</time></h6>
						<div class="ub ub-ac">
							<div class="ballBox"><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span></div>
							<div class="ub-f1"><span class="t_info">056期</span><span class="t_info">试机号:<b>124</b></span></div>
						</div>
					</div>
					<i class="iconfont icon-arrow"></i>
				</a>
			</div>
			
		</div>
		<div class="text-center mt-10 p-10"><a class="zbroomLink" href="#">AA牛彩会每晚9：15直播3D开奖号</a></div>
	</div>
	<script type="text/javascript">
		tabs();
	</script>
</body>
</html>