<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>牛彩开奖公告</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="full-screen" content="yes" />
 	<meta name="x5-fullscreen" content="true" />
	<link rel="stylesheet" href="../static/css/app.css" />
	<script type="text/javascript" src="../static/js/zepto-1.2.0.min.js" ></script>
	<script type="text/javascript" src="../static/js/fastclick.js" ></script>
	<script type="text/javascript" src="../static/js/main.js" ></script>
	<script type="text/javascript" src="../static/js/index.js" ></script>

	
</head>
<body>
<h1 class="topTitle">开奖公告</h1>
	<div class="tabContainer hsfooter">
		<div class="tab active cplist" id='cplist'>
			<!--
			<a href='fc3d.html' class="ticket ub ub-ac" data-name='tcqxc'>
				<div class="ub-f1 mr-10">
					<h6 class="name">七星彩<time>17060期</time><time>2017-05-11(周四)</time></h6>
					<div class="ub ub-ac">
						<div class="ballBox"><span class="ball red">7</span><span class="ball red">7</span><span class="ball red">7</span><span class="ball red">7</span><span class="ball red">7</span><span class="ball red">7</span><span class="ball red">7</span></div>
					</div>
				</div>
				<i class="iconfont icon-arrow"></i>
			</a>
			<a href='fc3dkjgg.html' class="ticket ub ub-ac">
				<div class="ub-f1 mr-10">
					<h6 class="name">福彩3D<time>2017054期</time><time>2017-05-11(周四)</time></h6>
					<div class="ub ub-ac">
						<div class="ballBox"><span class="ball red">2</span><span class="ball red">2</span><span class="ball red">2</span></div>
						<div class="ub-f1"><span class="t_info">056期</span><span class="t_info">试机号:<b>124</b></span></div>
					</div>
				</div>
				<i class="iconfont icon-arrow"></i>
			</a>
			<a href='fc3dkjgg.html' class="ticket ub ub-ac">
				<div class="ub-f1 mr-10">
					<h6 class="name">排列3<time>2017054期</time><time>2017-05-11(周四)</time></h6>
					<div class="ub ub-ac">
						<div class="ballBox"><span class="ball red">2</span><span class="ball red">2</span><span class="ball red">2</span></div>
						<div class="ub-f1"><span class="t_info">056期</span><span class="t_info">试机号:<b>124</b></span></div>
					</div>
				</div>
				<i class="iconfont icon-arrow"></i>
			</a>
			<a href='fc3dkjgg.html' class="ticket ub ub-ac">
				<div class="ub-f1 mr-10">
					<h6 class="name">排列5<time>2017054期</time><time>2017-05-11(周四)</time></h6>
					<div class="ub ub-ac">
						<div class="ballBox"><span class="ball red">2</span><span class="ball red">2</span><span class="ball red">2</span><span class="ball red">2</span><span class="ball red">2</span></div>
					</div>
				</div>
				<i class="iconfont icon-arrow"></i>
			</a>
			<a href='ssqkjh.html' class="ticket ub ub-ac">
				<div class="ub-f1 mr-10">
					<h6 class="name">双色球<time>2017054期</time><time>2017-05-11(周四)</time></h6>
					<div class="ub ub-ac">
						<div class="ballBox"><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball blue">02</span></div>
					</div>
				</div>
				<i class="iconfont icon-arrow"></i>
			</a>
			<a href='ssqkjh.html' class="ticket ub ub-ac">
				<div class="ub-f1 mr-10">
					<h6 class="name">大乐透<time>2017054期</time><time>2017-05-11(周四)</time></h6>
					<div class="ub ub-ac">
						<div class="ballBox"><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball blue">02</span><span class="ball blue">02</span></div>
					</div>
				</div>
				<i class="iconfont icon-arrow"></i>
			</a>
			<a href='ssqkjh.html' class="ticket ub ub-ac">
				<div class="ub-f1 mr-10">
					<h6 class="name">七乐彩<time>2017054期</time><time>2017-05-11(周四)</time></h6>
					<div class="ub ub-ac">
						<div class="ballBox"><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball red">02</span><span class="ball blue">02</span></div>
					</div>
				</div>
				<i class="iconfont icon-arrow"></i>
			</a>
			-->
		</div>
	</div>
</body>
</html>